name: test-workflow

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: 22f3002449@ds.study.iitm.ac.in
        run: echo "Hello, world!"
